<h1><%= @user.username %></h1>
<p>Email: <%= @user.email %></p>

<% unless @user == current_user %>
  <% if @friendship.nil? %>
    <%= form_with url: sent_friendship_requests_path do |f| %>
      <%= f.hidden_field :to_user_id, value: @user.id %>
      <%= f.submit 'Send friend request' %>
    <% end %>
  <% else # Friendship exists %>
    <% if @friendship.accepted? %>
      <p>this user is ur friend
        <%= form_with url: friend_url(@friendship.friend_of_user(current_user)), method: :delete do |f| %>
          <%= f.submit 'Unfriend' %>
        <% end %>
      </p>
    <% else # Friendship is not accepted %>
      <% if @friendship.sent_by_user? current_user %>
        friendship request was sent by u, wait for user to reply
        <%= form_with url: friend_url(@friendship.friend_of_user(current_user)), method: :delete do |f| %>
          <%= f.submit 'Delete request' %>
        <% end %>
      <% else %>
        <%= render partial: 'incoming_friendship_request/form' %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<h1>Friends</h1>
<ul>
  <% @user.friends.each do |friend| %>
    <li><%= link_to friend.username, user_path(friend) %></li>
  <% end %>
</ul>

<h1><%= @user.username %>'s recent posts</h1>
<% @user.posts.each do |post| %>
  <%= render partial: 'posts/small', locals: { post: post } %>
<% end %>
