<div class="box">
  <!-- Friends Tabs-->
  <div class="tabs">
    <ul>
      <li><%= link_to 'Friends', friends_path %></li>
      <li class="is-active"><%= link_to 'Incoming Friendship Requests', incoming_friendship_requests_path %></li>
      <li><%= link_to 'Sent Friendship Requests', sent_friendship_requests_path %></li>
    </ul>
  </div>

  <% if @incoming_friendship_requests.empty? %>
    <h1 class="title">No new requests</h1>
  <% else %>
    <h1 class="title"><%= pluralize(@incoming_friendship_requests.count, 'friend request') %></h1>
    <div class="columns">
      <div class="column">
        <div class="field">
          <div class="control">
            <button class="button is-fullwidth is-success">Accept All Requests</button>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="field">
          <div class="control">
            <button class="button is-fullwidth is-danger is-outlined">Decline All Requests</button>
          </div>
        </div>
      </div>
    </div>
    <% @incoming_friendship_requests.each do |friendship| %>
      <% friend = friendship.to_user %>
      <%= render layout: 'users/card', locals: { user: friend } do %>
        <div class="buttons is-right">
          <%= form_with url: incoming_friendship_request_path(friendship), method: :patch do |f| %>
            <div class="field">
              <div class="control">
                <button class="button is-success" type="submit">Add Friend</button>
              </div>
            </div>
          <% end %>
          <%= form_with url: incoming_friendship_request_path(friendship), method: :delete do |f| %>
            <div class="field">
              <div class="control">
                <button class="button is-danger is-outlined" type="submit">Unfriend</button>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
