<h1>Edit post</h1>

<div>
  <% unless @post.errors.empty? %>
    <p>
      <%= @post.errors.count %> Errors:
      <ul>
        <% @post.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <%= form_with model: @post, local: true do |f| %>
    <p>
      <%= f.text_area :text, size: '70x10' %>
    </p>

    <p>
      <%= f.submit 'Save' %>
    </p>
  <% end %>

  <%= link_to 'Delete post', @post, method: :delete %>
</div>
