<div class="columns">
  <div class="column is-8">
    <div class="media">
      <div class="media-left">
        <%= render partial: 'users/avatar', locals: { avatar_size: 64, user: @post.author } %>
      </div>
      <div class="media-content">
        <h1 class="title">
          <%= link_to @post.author.username, @post.author %>
        </h1>
        <h2 class="subtitle">
          <%= distance_of_time_in_words(@post.created_at, Time.now) %> ago
          <% if @post.created_at != @post.updated_at %>
            (updated <%= distance_of_time_in_words(@post.updated_at, Time.now) %> ago)
          <% end %>
        </h2>
      </div>
    </div>
    <p>
      <%= @post.text%>
    </p>
    <hr>
    <div class="field is-grouped">
      <div class="control">
        <div class="buttons has-addons is-multiline">
          <button class="button is-static">
            <%= @post.likes.count %> likes
          </button>
          <% if user_signed_in? %>
            <% if @like.new_record? %>
              <%= form_with model: [@post, @like] do |f| %>
                <button class="button is-primary" type="submit">Like</button>
              <% end %>
            <% else %>
              <%= form_with model: [@post, @like], method: :delete do |f| %>
                <button class="button is-primary" type="submit">Unlike</button>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if @post.author == current_user %>
        <%= link_to 'Edit', edit_post_path(@post), class: 'button' %>
      <% end %>
    </div>
  </div>
  <div class="column is-4">
    <div class="block">
      <h1 class="title has-text-centered">Add a Comment</h1>
      <% if user_signed_in? %>
        <%= render partial: 'posts/comments/form' %>
      <% else %>
        <%= link_to 'Log in', new_user_session_path %> to add your comment here!
      <% end %>
    </div>
    <div class="block">
      <h1 class="title has-text-centered"><%= pluralize(@comments.count, 'Comment') %></h1>
      <% @comments.each do |comment| %>
        <% unless comment.new_record? %>
          <%= render partial: 'posts/comments/comment', locals: { comment: comment } %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
