<h1><%= @post.author.username %> on <%= @post.created_at %></h1>

<% if @post.author == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>

<p><%= @post.text %></p>

<p><%= @post.likes.count %> likes |
<% if @like.new_record? %>
  <%= form_with model: [@post, @like] do |f| %>
    <%= f.submit 'Like' %>
  <% end %>
<% else %>
  <%= form_with model: [@post, @like], method: :delete do |f| %>
    <%= f.submit 'Unlike' %>
  <% end %>
<% end %>
</p>

<h1>9999 Comments</h1>
