<h1><%= @post.author.username %> on <%= @post.created_at %></h1>

<% if @post.author == current_user %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<% end %>

<p><%= @post.text %></p>

<p>
<%= @post.likes.count %> likes |
<% if @like.new_record? %>
  <%= form_with model: [@post, @like] do |f| %>
    <%= f.submit 'Like' %>
  <% end %>
<% else %>
  <%= form_with model: [@post, @like], method: :delete do |f| %>
    <%= f.submit 'Unlike' %>
  <% end %>
<% end %>
<% if @post.created_at != @post.updated_at %>
  | Edited: <%= @post.updated_at %>
<% end %>
</p>

<h1><%= @post.comments.order(created_at: :asc).count %> Comments</h1>
<%= render partial: 'posts/comments/form', object: @comment %>

<% @post.comments.each do |comment| %>
  <% unless comment.new_record? %>
    <%= render partial: 'posts/comments/comment', locals: { comment: comment } %>
  <% end %>
<% end %>
